.App {
  text-align: center;
  padding: 1em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.hero, .skills, .contact {
  .image {
    width: 400px;
    height: 400px;
    max-width: 90vw;
    background-color: lightgrey;
    margin: 0 auto;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em; 

  .btn-hamburger {
    position: absolute; 
    top: 10px; 
    right: 5%;

    @media screen and (min-width: 601px) {
      display: none;
    }
  }


  @media screen and (max-width: 600px) {
    display: block;

    .col:first-of-type {
      position: absolute;
      top: 5%;
      left: 5%;
    }

    .menu {
      display: flex;
      flex-direction: column;
      margin-top: 3em;

      &:not(.menu-active) {
        display: none;
      }
    }
    
  }

}

.hero, .skills, .contact {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media screen and (max-width: 800px) {
    display: block;
  }
}

.skills {
  flex-direction: row-reverse;
}

.projects {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    justify-content: center;

    gap:  0;
  }

  .card {
    border: 1px solid grey;
    max-width: 300px;
    border-radius: 10px;
    margin: auto;

    img {
      min-height: 200px;
    }
  }
}


.social {
  display: flex;
  justify-content: space-around;
}